{% if site.stackoverflow_user_name %}
<section>
  <h1>Information Security</h1>
  <a href="http://security.stackexchange.com/users/66678/shritam-bhowmick">
<img src="http://security.stackexchange.com/users/flair/66678.png" width="208" height="58" alt="profile for Shritam Bhowmick at Information Security Stack Exchange, Q&amp;A for information security professionals" title="profile for Shritam Bhowmick at Information Security Stack Exchange, Q&amp;A for information security professionals">
</a>
</section>
{% endif %}