<div class="about">
     <span class="about-image">
          <img alt="shritam" src="/images/author.jpg">
     </span>
     <span class="about-desc">
          <span>
              <i>Hello. Welcome to pwntoken. Shritam is an Information Security Analyst cum Penetration Tester. He does Application Security and here's his <a target="_blank" href="https://www.linkedin.com/in/shritambhowmick"> LinkedIn </a> for a <bold>professional touch</bold>. Feel free to discuss about the post content and you can send him f eedbacks, if any, at his email</i>  (<a  href="mailto:shritam.bhowmick@gmail.com" style="text-decoration:none;"> <img style="border:none" alt="shritam_email" src="/images/email.png"></a>).
           </span>
          <br/>
          <hr/>
          <a href="https://twitter.com/pwntoken" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @pwntoken</a>
     </span>
</div>
